.tooltip {
    -fx-show-delay: 100ms;
}
.root {
    -fx-background-color: #dedede;
}

.table-view{
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
}

.table-cell{
    -fx-alignment: center;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #9999cc;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #a8a8a8;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected:odd {
    -fx-background-color: #a8a8a8;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell{
    -fx-background-color: #dedede;
}

.table-row-cell:odd{
    -fx-background-color: #ffffff;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.text-area {
  -fx-background-color: transparent;
}

.text-area .scroll-pane {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
  -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
  -fx-background-color: transparent;
}
